RewriteEngine On
# if it is not an existing file
RewriteCond %{REQUEST_FILENAME} !-f

# if it is not an existing directory
RewriteCond %{REQUEST_FILENAME} !-d

# if it is not an image or csss
RewriteCond %{REQUEST_URI} !\.(?:css|js|jpe?g|gif|png)$ [NC]

# rewrite every request to our main controller
#RewriteRule ^(.+)$ PHP_REST_PDO.php [QSA,L]
RewriteRule ^(.*)$ Team02_HomePage.php [QSA]

# a simple rewrite for RestAPI ... but it does not work with the latest XAMPP :(
RewriteRule RestAPI RestAPI_HomePage.php [QSA,L]